[DEFAULT]

data-path =                         '../data'
output-path =                       'results'

learner-type =                      'child'
metric =                            ['intersection', 'cosine']

word =                              'fep'

gamma-sup =                         [0.1, 0.5, 1., 10.]
gamma-basic =                       [0.1, 0.5, 1., 10.]
gamma-sub =                         [0.1, 0.5, 1., 10.]
gamma-instance =                    [0.1, 0.5, 1., 10.]

k-sup =                             [5., 10., 20., 50., 100.]
k-basic =                           [5., 10., 20., 50., 100.]
k-sub =                             [5., 10., 20., 50., 100.]
k-instance =                        [5., 10., 20., 50., 100.]

p-sup =                             [2.]
p-basic =                           [2.]
p-sub =                             [2.]
p-instance =                        [2.]

subtract-prior =                    [False]

[Simple]

feature-space =                         ['simple']
check-condition =                       False

#[Clothing]
#
#feature-space =                         ['clothing']
#check-condition =                       False
#
#
#[Containers]
#
#feature-space =                         ['containers']
#check-condition =                       False
#
#
#[Seats]
#
#feature-space =                         ['seats']
#check-condition =                       False
#
#
#[XT Animals]
#
#feature-space =                         ['xt-animals']
#
#check-condition =                       True
#
#one-ex-basic-sub-ratio =                0.6
#one-ex-sup-sub-ratio =                  0.1
#
#three-subord-basic-sub-ratio =          0.05
#three-subord-sup-sub-ratio =            0.05
#
#three-basic-basic-sub-ratio =           0.95
#three-basic-sup-sub-ratio =             0.05
#
#three-super-basic-sub-ratio =           0.95
#three-super-sup-sub-ratio =             0.9
#
#[XT Vegetables]
#
#feature-space =                         ['xt-vegetables']
#
#check-condition =                       True
#
#one-ex-basic-sub-ratio =                0.75
#one-ex-sup-sub-ratio =                  0.1
#
#three-subord-basic-sub-ratio =          0.1
#three-subord-sup-sub-ratio =            0.01
#
#three-basic-basic-sub-ratio =           0.9
#three-basic-sup-sub-ratio =             0.1
#
#three-super-basic-sub-ratio =           0.95
#three-super-sup-sub-ratio =             0.95
#
#[XT Vehicles]
#
#feature-space =                         ['xt-vehicles']
#
#check-condition =                       True
#
#one-ex-basic-sub-ratio =                0.8
#one-ex-sup-sub-ratio =                  0.15
#
#three-subord-basic-sub-ratio =          0.4
#three-subord-sup-sub-ratio =            0.05
#
#three-basic-basic-sub-ratio =           0.95
#three-basic-sup-sub-ratio =             0.1
#
#three-super-basic-sub-ratio =           0.95
#three-super-sup-sub-ratio =             0.85
