[DEFAULT]
iterations =                        1
repetitions =                       1

results-save-directory =            'hypothesis_space_experiments'
hierarchy-save-directory =          'hierarchy'

k =                                 [100.]
gamma =                             [0.5]

num-sup-levels =                    [1]
num-basic-levels =                  [1]
num-sub-levels =                    [1]
num-instance-levels =               [0]

# NB: anything other than 1 here has not been implemented
num-features =                      1

# Testing general model formulations
fix-leaf-feature =                  [True]
modified-gamma =                    [True]
flat-hierarchy =                    [False]
gen-prob =                          ['cosine', 'product-fixed-levels', 'product-variable-levels']
#gen-prob =                          ['cosine']
hierarchy =                         ['articulated', 'simple']

p =                                 [2]

[Google ngrams]
name =                              'google-ngrams'
frequency-dictionary =              'google_ngrams_freq.pkl'

unigram-frequency =                 [0]
bigram-frequency =                  [0]

#[BNC ngrams]
#name =                              'BNC'
#freq =                              0
#frequency-dictionary =              'BNC_freq.pkl'
#
#unigram-frequency =                 [float('-inf')]
#bigram-frequency =                  [float('-inf')]
